[submodule "submodules/JUCE-AppBasics"]
	path = submodules/JUCE-AppBasics
	url = https://github.com/ChristianAhrens/JUCE-AppBasics
[submodule "submodules/NanoOcp"]
	path = submodules/NanoOcp
	url = https://github.com/ChristianAhrens/NanoOcp
[submodule "submodules/JUCE"]
	path = submodules/JUCE
	url = https://github.com/juce-framework/JUCE
[submodule "submodules/create-dmg"]
	path = submodules/create-dmg
	url = https://github.com/create-dmg/create-dmg
